
/* image stuff */
#holder {
position:absolute;
width:100%;
height:auto;
overflow:hidden;
}
#holder img {
display: block;
position: center;
max-width: 85%;
height: auto;
margin-left: auto;
margin-right: auto; 
overflow: hidden;
}

/* tab stuff */
ul.tab {				
width:100%;
background-color: #151515;
list-style-type: none;
overflow: hidden;
}
/* Float the list items side by side */
ul.tab li {display: inline-block;}
/* Style the links inside the list items */
ul.tab li a {
border-radius: 20px;
display: inline-block;
color: white;
text-align: center;
padding: 10px 10px;
text-decoration: none;
transition: 0.3s;
font-size: 14px;
}
/* Change background color of links on hover */
ul.tab li a:hover {
background-color: #ddd;
}
/* Create an active/current tablink class */
ul.tab li a:focus, .active {
background-color: #3A3A3A;
border: 1px solid #909090;
font-weight: bold;
}
/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border-top: none;
}

/* tab stuff */
ul.tab2 {				
width:100%;
background-color: #151515;
list-style-type: none;
overflow: hidden;
}
/* Float the list items side by side */
ul.tab2 li {display: inline-block;}
/* Style the links inside the list items */
ul.tab2 li a {
border-radius: 20px;
display: inline-block;
color: white;
text-align: center;
padding: 8px 8px;
text-decoration: none;
transition: 0.3s;
font-size: 10px;
}
/* Change background color of links on hover */
ul.tab2 li a:hover {
background-color: #ddd;
}
/* Create an active/current tablink class */
ul.tab2 li a:focus, .active2 {
background-color: #151515;
border: 1px solid #909090;
font-weight: bold;
}
/* Style the tab content */
.tabcontent2 {
display: none;
padding: 6px 12px;
border-top: none;
}

/* draft sheet stuff */
.listitem1 {
background-color: #c2c7ce;
/*margin-left: -20px;*/
margin-top: 2px;
text-align: left;
text-decoration: none;
font-size: 75%;
border-radius: 3px;
width: 100%;
padding:1px;
}
nav,navbar-dark,bg-inverse {
z-index: 2;
background-color: #151515;
}
ul {
margin: auto;
text-align: center;
text-decoration: none;
list-style: none;
}
body {
background-color: #151515;
}
.tend 
{
border-color: #FFC288;
border-style: solid;
border-width: 0.75px;
}
.receiver {
border-color: #69DC32;
border-style: solid;
border-width: 1.5px;
}
.rback {
border-color: #44A0B1;
border-style: solid;
border-width: 1.5px;
}
.qback {
border-color: #EC365A;
border-style: solid;
border-width: 1.5px;
}
.dst {
border-color: #FF8422;
border-style: solid;
border-width: 1.5px;
}
.kicker {
border-color: #DDB7F0;
border-style: solid;
border-width: 1.5px;
}
.kickerbts {
}
a:link,a:visited {
color:black;
text-decoration: none;
}
.listitem2 {
background-color: grey;
opacity: 0.25;
margin: 0;
margin-top: 1px;
/*margin-left: -20px;*/
text-align: left;
text-decoration: line-through;
font-size: 65%;
border-radius: 2px;
width: 100%;
padding:1px;
}
.listitem3 {
background-color: yellow;
opacity: 1.0
/*margin-left: -20px;*/
margin-top: 2px;
text-align: left;
text-decoration: none;
font-size: 75%;
font-weight: bold;
border-radius: 3px;
border-color: yellow;
border-width: 3px;
width: 100%;
padding:1px;
}
p {
margin-top: -10px;
margin-bottom: -10;
text-align: center;
font-size: 70%;
}
.notactive {
pointer-events: none;
cursor: default;
}
header {
	background-color: #151515;
}
.postionbts ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.positionbts ul li {
display: inline;
}
.buttonspos {
max-width: 100%;
height: 40px;
}

.quarterbackbt {
margin-left: ;
}

.postionbts {
height:35px;
width: 100%;
margin-left: ;
padding-bottom: 5px;

}

.hiddenbt {
visibility: hidden;
height:0px;
width:0px;
margin: 0px;
padding: 0px;
}

.btshrink {
height: 25px;
width: 25px;
}
.positionsbar {
position:absolute;
top:5%;
margin:0,auto;
z-index: 5;
width: 100%;
background-color: #151515;
margin-left:;
}

.positionsbartop {
position:fixed;
top:0%;
margin:0,auto;
z-index: 5;
width: 100%;
background-color: #151515;
margin-left:;
}

.myteam {
background-color: yellow;
color: yellow;
border-radius: 100%;
font-size: 150%;
}

.nav-link {
float: right;
}
.rowpadsmall {
padding-left: 0 !important;
padding-right: 10px !important;
}

/* extra stuff */
h4 {
	width: 100%;
	display: inline-block;
	text-align: center;
	color: white;
	font-size: 24px;
}
p2 {
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	text-align: justify;
	color: #B9B9B9;
	font-size: 20x;
}